RewriteEngine On

RewriteCond %{REQUEST_URI} ^/questionnaire
RewriteRule .? /question/ [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule part2/start /question/part2/start/index.php